
.slider-video-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 40vw;
}

.slider {
    width: 100%;
    position: relative;
}

.setas{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    top: 50%;
    color: #ff2159;
}

.previous-button{
    position: absolute;
    transform: translate(-120%, -50%);
    left: 0;
    cursor: pointer;
}

.next-button {
    position: absolute;
    transform: translate(120%, -50%);
    right: 0;
    cursor: pointer;
}

.slide-container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border-radius: 3rem;
    box-shadow: 0px 0px 20px #51355a34;

}

.slide-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
    
    
}

.slide-item.active {
    opacity: 1; /* Define a opacidade para 1 para o slide ativo */
    transform: scale(105%);
    transition: 0.9s ease-in-out;
}



.button-indicator-container{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: -30px;
    left: 50px; 
}

.indicator-item{
    background-color: transparent;
    border: none;
    color: #ff2159;
    cursor: pointer;
}

.video-container {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 280px;
    right: -250px;
}

.video-container video{
    border-radius: 3rem;
    height: 200px;
    box-shadow: 0px 0px 20px #51355a34;

}

@media (max-width: 600px) {

    .content-first-page {
        grid-template-rows: 2fr 1fr 1.5fr 1fr;
        grid-template-columns: 1fr; /* Removido */
        height: auto;
        width: 90%;
        border-radius: 10px;
    }

    .left-pinel-container {
        display: flex;
        flex-direction: column;
        grid-row: 1/2;
        height: auto;
        align-self: center;
        align-items: center;
        justify-content: center;
        
    }

    .logo-mm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
    }

    .sliderBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 2;
        grid-row: 2/3;
    
    }

    .indicator-item{
        display: none;
    }
    .slider-video-container {
        width: 90%;
    }

    .setas{
        display: none;
    }
    
    .previous-button{
        display: none;
    }
    
    .next-button {
        display: none;
    }

    .call-for-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right:0;
        grid-row: 3/4;
    }

    .video-container {
    display: none;
    }
    
}
